* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: auto;
}

@media  screen and (max-width: 1240px) {
 body {
  background-color: yellow;
 }

 .box1, .box2, .box3, .box4, .box5, .box6 {
  width: 350px;
  height: 200px;
  background-color: blue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

p {
  margin-top: 100px;
}
}

@media screen and (max-width: 1079px) {
   body {
  background-color: red;
 }

 .box1, .box2, .box3, .box4, .box5, .box6 {
  width: 300px;
  height: 180px;
  background-color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

p {
  margin-top: 100px;
}
}

@media  screen and (max-width: 929px) {
 body {
  background-color: yellow;
 }

 .box1, .box2, .box3, .box4, .box5, .box6 {
  width: 240px;
  height: 200px;
  background-color: blue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

p {
  margin-top: 80px;
}
}


@media  screen and (max-width: 775px) {
 body {
  background-color: purple;
 }

 .box1, .box2, .box3, .box4, .box5, .box6 {
  width: 270px;
  height: 200px;
  background-color: coral;
}

p {
  margin-top: 50px;
}
}

